/* Unity Background */
#titlebar, .tab-header, .toolbar, #tabs-container {
  background-color: var(--colorAccentBg);
}

.tabs-top.color-behind-tabs-on #tabs-container {
  background-image: none
}

.title {
  font-family: 'Hiragino Sans';
  font-weight: 300;
  color: var(--colorAccentFg);
}

.toolbar.toolbar-addressbar:after {
  display: none;
}


/* Active Title Bar */
.tab.active {
  border-bottom: solid 0.5px var(--colorAccentFg);
}

.tab.active>.tab-header {
  background-color: var(--colorAccentBgDark);
}



/* Search and Address Bar */
.addressfield, .searchfield {
  border: none;
  background-color: var(--colorAccentBg);
  color: var(--colorAccentFg);
}

.addressfield.focused, .searchfield.focused {
  border: none;
  box-shadow: none !important;
  border-radius: 0;
}

input.url {
  background-color: var(--colorAccentBg);
  font-family: 'Hiragino Sans' !important;
  font-weight: 100 !important;
}

.urlSearch {
  font-family: 'Hiragino Sans';
  font-weight: 200;
  background-color: var(--colorAccentBgDark) !important;
}

.pageload.progress-done {
  opacity: 0 !important;
  transition: all 2s;
}

.button-addressfield.bookmark svg .bookmark-outline {
  fill: var(--colorAccentFg);
}
button.button-addressfield:hover,
.toolbar.toolbar-addressbar .button-toolbar:hover {
  border-color: transparent;
  background-color: var(--colorAccentBgDarker);
}

section.filter-typedhistory {
  background-color: var(--colorAccentBgDark);
}

section.filter-typedhistory>label {
  color: var(--colorAccentFg);
}
section.filter-typedhistory>.omni-clickable>span {
  font-family: 'Hiragino Sans';
  font-weight: 100;
}

/* Extension Bar */
button.button-toolbar.browserAction-button {
  background-color: var(--colorAccentBg) !important;
}

/* Toolbar */

button:disabled {
  opacity: 0.1;
}

button.button-toolbar.home {
  display: none;
}

button.button-toolbar.reload path,
button.button-toolbar.loading path,
button.button-toolbar.back path,
button.button-toolbar.forward path {
  display: none !important;
}

button.button-toolbar.reload>span {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 1px;
  border-color: var(--colorAccentFg);
  border-right-color: transparent;
}

button.button-toolbar.reload>span:before {
  position: absolute;
  top: 4px;
  right: -2px;
  content: "";
  height: 5px;
  border: 3px solid transparent;
  border-top: 4px solid;
  background: transparent;
  transform-origin: left top;
  transform: rotate(-40deg);
  box-sizing: border-box;
  border-top-color: var(--colorAccentFg);
}

button.button-toolbar.loading>span {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 1px;
  border-color: var(--colorAccentFg);
  border-right-color: transparent;
}
button.button-toolbar.loading>span:before {
  display: none;
}
button.button-toolbar.loading>span {
  animation: spin 1s linear infinite;
}

button.button-toolbar.back:before {
  position: absolute;
  left: 15px !important;
  content: "";
  display: inline-block !important;
  width: 8px !important;
  height: 8px !important;
  border-left: 1px solid var(--colorAccentFg) !important;
  border-bottom: 1px solid var(--colorAccentFg) !important;
  transform: rotate(45deg) !important;
}

button.button-toolbar.forward:before {
  position: relative;
  left: 10px !important;
  content: "";
  display: inline-block !important;
  width: 8px !important;
  height: 8px !important;
  border-right: 1px solid var(--colorAccentFg) !important;
  border-top: 1px solid var(--colorAccentFg) !important;
  transform: rotate(45deg) !important;
}

.button-addressfield svg {
  fill: var(--colorAccentFg);
  color: var(--colorAccentFg);
}
.addressfield {
  margin-top: 6px;
}
.addressfield form {
  margin-top: 1px;
}


/* Find Pane */
input#fip-input-text {
  background: var(--colorAccentFg);
  border: none;
  box-shadow: none;
  border-bottom: solid 1px var(--colorAccentBgFadedMost);
  color: var(--colorAccentBgDarker);
  font-family: 'Hiragino Sans' !important;
  font-weight: 100 !important;
}

.toolbar.icons.fip-controls {
  background-color: var(--colorAccentBgDarker);
}

.find-in-page {
  font-family: 'Hiragino Sans';
  font-weight: 100;
  background-color: var(--colorAccentFg);
}

.find-in-page .fip-input {
  color: var(--colorAccentBgDarker);
}

button.fip-previous,
button.fip-next,
button.fip-close {
  background-color: var(--colorAccentFg);
  background-image: none !important;
  border: none;
  box-shadow: none !important;
}

button.fip-previous>svg,
button.fip-next>svg,
button.fip-close>svg {
  color: var(--colorAccentBg) !important;
  fill: var(--colorAccentBg) !important;
}

#fip-matchcase {
  background-color: var(--colorAccentFg);
  color: var(--colorAccentBgDarker);
}

.toolbar.icons.fip-controls {
  background-color: var(--colorAccentFg);
  color: var(--colorAccentBgDarker);
}

.theme-dark input[type=checkbox], .theme-dark input[type=radio] {
  border-color: var(--colorAccentBg);
}

button:focus:not([tabindex='-1']), input:focus:not([tabindex='-1']), input[type=button]:focus:not([tabindex='-1']), input[type=checkbox]:focus:not([tabindex='-1']), input[type=email]:focus:not([tabindex='-1']), input[type=number]:focus:not([tabindex='-1']), input[type=password]:focus:not([tabindex='-1']), input[type=radio]:focus:not([tabindex='-1']), input[type=search]:focus:not([tabindex='-1']), input[type=submit]:focus:not([tabindex='-1']), input[type=text]:focus:not([tabindex='-1']), select:focus:not([tabindex='-1']), textarea:focus:not([tabindex='-1']) {
  border-color: var(--colorAccentBg);
  box-shadow: -1 0 0 3px var(--colorAccentBg);
}
input[type=checkbox]:active:focus:after, input[type=checkbox]:active:focus:before, input[type=checkbox]:focus:after, input[type=checkbox]:focus:before, input[type=radio]:active:focus:after, input[type=radio]:active:focus:before, input[type=radio]:focus:after, input[type=radio]:focus:before {
  background-color: var(--colorAccentBg);
}
input[type=checkbox]:after, input[type=checkbox]:before {
  background-color: var(--colorAccentBg);
}

/* Bottom tabs */
.tabs-bottom.color-behind-tabs-on#browser.mac:not(.tabs-top).address-top #header {
  background-color: var(--colorAccentBg);
}

.address-top #tabs-container.bottom {
   border-top-width: 0px;
}


/* Panel */
.toolbar.icons {
  background: var(--colorBgLightIntense);
}


/* Right Panel */

.panel>header,
.panel section,
.toolbar.icons {
  background-color: var(--colorAccentBg);
}

.panel-group .panel {
  color: var(--colorAccentFg);
  font-weight: 300;
  font-family: 'Hiragino Sans';
}
